@media (max-width: 767px) {
    .navbar {
        padding: 15px 0;
    }
    .navbar .navbar-brand {
        width: 170px;
    }
    .navbar-toggler {
        height: 24px;
    }
    .hamburger-box, .hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
        width: 35px;
    }
    .hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
        height: 3px;
    }
    .intro-caption-row {
        padding: 95px 0 30px;
    }
    .img-wrapper {
        margin-bottom: 25px;
    }
    section {
        padding: 50px 0;
    }
    .listing-insights .listing-body-inner {
        gap: 50px 25px;
    }
    .listing-insights .list-thumbnail {
        height: 230px;
    }
    .project-thumbnail {
        height: 250px;
    }
    .fp-bottom {
        gap: 25px;
    }
    #colophon {
        padding: 70px 0 30px;
    }
    .footer-columns .wp-block-columns {
        gap: 60px;
    }
}
@media (min-width: 768px) {
    .h-md-auto {
        height: auto!important;
    }
    .h-md-100 {
        height: 100%!important;
    }
    .text-editor-bg {
        height: 100%;
    }
    .footer-columns > .widget_block:last-child .wp-block-group__inner-container {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    .footer-columns > .widget_block:last-child .wp-block-group__inner-container hr {
        width: 100%;
        flex: 1;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .navbar {
        padding: 20px 0;
    }
    .navbar .navbar-brand {
        width: 240px;
    }
    .listing-page.listing-insights .list-thumbnail {
        height: 380px;
    }
    .project-thumbnail {
        height: 360px;
    }
    .listing-insights .list-thumbnail {
        height: 380px;
    }
    .footer-columns .wp-block-columns .wp-block-column:not(:first-child) {
        flex-basis: auto !important;
        width: calc(50% - 1em);
        flex: unset;
    }
}
@media (min-width: 992px) {
    .h-lg-auto {
        height: auto!important;
    }
    .h-lg-100 {
        height: 100%!important;
    }
}
@media (max-width: 1199px) {
    .navbar .navbar-inner {
        padding: 0 24px;
    }
    .navbar .navbar-nav .nav-link::after {
        display: none;
    }
    .navbar .navbar-toggler {
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translateY(-50%);
    }
}
@media (min-width: 1200px) {
    .navbar {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .navbar .navbar-inner {
        max-width: 75%;
    }
    .navbar .navbar-brand {
        width: 300px;
    }
    .navbar .navbar-nav {
        width: 100%;
        align-items: center;
    }
    .navbar .navbar-nav .site-logo {
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .navbar .navbar-nav .nav-item {
        margin-left: 40px;
    }
    .navbar .navbar-nav.navbar-breakpoint-2 .nav-item:nth-child(-n+2), .navbar .navbar-nav.navbar-breakpoint-3 .nav-item:nth-child(-n+3) {
        margin-right: 40px;
    }
    .navbar .navbar-nav.navbar-breakpoint-2 .nav-item:nth-child(2), .navbar .navbar-nav.navbar-breakpoint-3 .nav-item:nth-child(3) {
        margin-right: 0;
    }
    .navbar .navbar-nav.navbar-breakpoint-2 .nav-item:nth-child(-n+2), .navbar .navbar-nav.navbar-breakpoint-3 .nav-item:nth-child(-n+3), .navbar .navbar-nav.navbar-breakpoint-2 .nav-item:nth-child(4), .navbar .navbar-nav.navbar-breakpoint-3 .nav-item:nth-child(5) {
        margin-left: 0;
    }
    .h-xl-auto {
        height: auto!important;
    }
    .h-xl-100 {
        height: 100%!important;
    }
    .listing-insights .listing-body-inner {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 30px;
    }
    .list-thumbnail {
        height: 400px;
    }
    #colophon .wp-block-buttons .wp-block-button:first-child a {
        font-size: 1.6666667vw;
        line-height: 1.6666667vw;
    }
}
@media (min-width: 1400px) {
    .h-xxl-auto {
        height: auto!important;
    }
    .h-xxl-100 {
        height: 100%!important;
    }
}
@media (min-width: 1600px) {
    .navbar .navbar-nav .nav-item {
        margin-left: 50px;
    }
    .navbar .navbar-nav.navbar-breakpoint-2 .nav-item:nth-child(-n+2), .navbar .navbar-nav.navbar-breakpoint-3 .nav-item:nth-child(-n+3) {
        margin-right: 50px;
    }
}
@media (min-width: 1900px) {
    html, body {
        font-size: 16px;
        line-height: 24px;
    }
    .navbar {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .intro-caption-row {
        height: 100vh;
    }
    .listing-insights .listing-body-inner {
        grid-template-columns: repeat(3, 1fr);
        gap: 70px 50px;
    }
    .list-thumbnail {
        height: 450px;
    }
    .flex-section-row {
        gap: 100px;
    }
}
@media (min-width: 2300px) {
    html, body {
        font-size: 18px;
        line-height: 28px;
    }
    .navbar .navbar-brand {
        width: 400px;
    }
    .intro-caption-row {
        height: 1000px;
    }
}